
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/fav.ico">
<title>
	{% if page.title %}
		{{ page.title }} - 
	{% endif %}
	{{ site.title }}
</title>

<style>
* {font-family: Consolas,monospace}

pre.content {
    width: 100ch;
    font-size: 0.9vw;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0 auto;
    background-color: white;
    border-style: groove;
    border-width: 5px;
    padding: 10px;
}


</style>

{% if site.ssl %}
<script type="text/javascript">
	if (window.location.protocol != "https:")
		window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
</script>
{% endif %}
