|=------------------------------------------------------------------------------------------------=|
    ______   ______   ______     ______   ______   ___   __        _______   ______   ______      
   /_____/\ /_____/\ /_____/\   /_____/\ /_____/\ /__/\ /__/\     /______/\ /_____/\ /_____/\     
   \:::_ \ \\::::_\/_\::::_\/_  \:::__\/ \:::_ \ \\::\_\\  \ \    \__::::\ \\::::_\/_\:::_:\ \    
    \:\ \ \ \\:\/___/\\:\/___/\  \:\ \  __\:\ \ \ \\:. `-\  \ \        \::\ \\:\/___/\  /_\:\ \   
     \:\ \ \ \\::___\/_\:::._\/   \:\ \/_/\\:\ \ \ \\:. _    \ \        \::\ \\_::._\:\ \::_:\ \  
      \:\/.:| |\:\____/\\:\ \      \:\_\ \ \\:\_\ \ \\. \`-\  \ \        \: \ \/_____\/ /___\:\ ' 
       \____/_/ \_____\/ \_\/       \_____\/ \_____\/ \__\/ \__\/         \:_\/\_____/  \______/  

|=------------------------------------------------------------------------------------------------=|

                                    DEF CON group @ Rome, Italy
                                
                               [<a href="{{ site.url }}{{ site.baseurl }}/">Main</a>] [<a href="{{ site.url }}{{ site.baseurl }}/meetings/">Meetings</a>] [<a href="{{ site.url }}{{ site.baseurl }}/posts/">Posts</a>] [<a href="{{ site.url }}{{ site.baseurl }}/projects/">Projects</a>] 

